@{
    ViewData["Title"] = "Home Page";
}
<div>
        <h1 style="color:#4E1A3D;text-align:center;font-family: fantasy;margin-top:15px">
            <i class="fa fa-gbp" > <i>EXPENSE TRACKER</i> </i>
        </h1>
        <h6 style="color:#4E1A3D;text-align:center;font-family: fantasy;margin-top:10px"><i>Track your expenses here...</i></h6>
 </div>
<div class="text-center">
    <h1 class="display-4">Welcome User!!!</h1>
    
</div>


